{% comment %}
	Renders product variant-picker

	Accepts:
	- product: {Object} product object.
	- block: {Object} passing the block information.
	- product_form_id: {String} Id of the product form to which the variant picker is associated.
	- update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
	Usage:
	{% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

<div class="product-parameters">
	{%- unless product.has_only_default_variant -%}
		{%- if block.settings.picker_type == 'button' -%}
			<variant-radios
				id="variant-radios-{{ section.id }}"
				class=""
				data-section="{{ section.id }}"
				data-url="{{ product.url }}"
				{% if update_url == false %}
					data-update-url="false"
				{% endif %}
				{{ block.shopify_attributes }}
			>
				{%- for option in product.options_with_values -%}
					{% liquid
						assign optionName = option.name | escape | downcase
						assign size_text = 'general.size' | t | downcase
					%}
					<fieldset
						class="product-form__controls"
						id="SingleOptionSelector-{{ forloop.index0 }}"
					>
						<legend class="product-form__group-name">{{ option.name }}</legend>
						<div class="product-form__controls-group">
							{% render 'product-variant-options',
								product: product,
								option: option,
								block: block,
								product_page: product_page
							%}
							{% if optionName == size_text and block.settings.show_size_guide %}
								<modal-opener
									class="no-js-hidden adv-btn-opener"
									data-modal="#PopupModal-{{ block.id }}"
									{{ block.shopify_attributes }}
								>
									<button
										class="button button--simple-move size-guide-btn pickup-availability-button"
										id="ProductPopup-{{ block.id }}"
										type="button"
										aria-haspopup="dialog"
										aria-label="Open popup"
									></button>
								</modal-opener>
							{% endif %}
							{% if optionName == size_text and block.settings.show_size_guide %}
								<modal-dialog
									id="PopupModal-{{ block.id }}"
									class="product-popup-modal size_guide_image_container"
									{{ block.shopify_attributes }}
								>
									<div
										role="dialog"
										aria-label="{{ block.settings.label }}"
										aria-modal="true"
										class="product-popup-modal__content"
										tabindex="-1"
									>
										<button
											id="ModalClose-{{ block.id }}"
											type="button"
											class="product-popup-modal__toggle modal-close-button"
											aria-label="{{ 'accessibility.close' | t }}"
										>
											{% render 'icon-close' %}
										</button>
										<div class="product-popup-modal__content-info">
											<h2 class="product-popup-modal__title">
												{{ block.settings.size_guide_header }}
											</h2>
											<p class=".product-popup-modal__text">
												{{ block.settings.size_guide_decription }}
											</p>
											{% if block.settings.size_guide_image != blank %}
												<div class="size_guide_image">
													{{
														block.settings.size_guide_image
														| image_url: width: 1790
														| image_tag:
															loading: 'lazy',
															widths: '553, 895, 1790'
													}}
												</div>
											{% endif %}
											{%- if block.settings.page.content != blank -%}
												{{ block.settings.page.content }}
											{%- endif -%}
										</div>
									</div>
								</modal-dialog>
							{% endif %}
						</div>
					</fieldset>
				{%- endfor -%}

				<script type="application/json">
					{{ product.variants | json }}
				</script>
			</variant-radios>
		{% else %}
			{% liquid
				assign color_trigger = settings.trigger_swatch | handle | strip
				assign name_option = option.name | handle | strip
			%}

			<variant-selects
				id="variant-selects-{{ section.id }}"
				class=""
				data-section="{{ section.id }}"
				data-url="{{ product.url }}"
				{% if update_url == false %}
					data-update-url="false"
				{% endif %}
				{{ block.shopify_attributes }}
			>
				{%- for option in product.options_with_values -%}
					{% liquid
						assign color_trigger = settings.trigger_swatch | handle | strip
						assign name_option = option.name | handle | strip
						assign size_text = 'general.size' | t | downcase
					%}

					{% if settings.type_color_swatch  == 'standart'
						or color_trigger != name_option
						or block.settings.picker_type == 'dropdown'
					%}
						{% liquid
							assign optionName = option.name | escape | downcase
						%}
						<fieldset
							class="product-form__controls"
							style="{% if optionName == size_text and block.settings.show_size_guide %} order: 1 {% endif %}"
						>
							<label
								for="Option-{{ section.id }}-{{ forloop.index0 }}"
								class="product-form__group-name"
							>
								{{ option.name }}
							</label>
							<div class="product-form__controls-group">
								<div class="select">
									<select
										name="options[{{ option.name | escape }}]"
										id="Option-{{ section.id }}-{{ forloop.index0 }}"
										class="select__select"
										form="{{ product_form_id }}"
									>
										{% render 'product-variant-options',
											product: product,
											option: option,
											block: block
										%}
									</select>
									{% render 'icon-caret' %}
								</div>

								{% if optionName == size_text and block.settings.show_size_guide %}
									<modal-opener
										class="no-js-hidden adv-btn-opener"
										data-modal="#PopupModal-{{ block.id }}"
										{{ block.shopify_attributes }}
									>
										<button
											class="button button--simple-move size-guide-btn pickup-availability-button"
											id="ProductPopup-{{ block.id }}"
											type="button"
											aria-haspopup="dialog"
											aria-label="Open popup"
										>
											<span>{{ block.settings.size_guide_text }}</span>
										</button>
									</modal-opener>
								{% endif %}
								{% if optionName == size_text and block.settings.show_size_guide %}
									<modal-dialog
										id="PopupModal-{{ block.id }}"
										class="product-popup-modal size_guide_image_container"
										{{ block.shopify_attributes }}
									>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="product-popup-modal__content"
											tabindex="-1"
										>
											<button
												id="ModalClose-{{ block.id }}"
												type="button"
												class="product-popup-modal__toggle modal-close-button"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
											<div class="product-popup-modal__content-info">
												<h2 class="product-popup-modal__title">
													{{ block.settings.size_guide_header }}
												</h2>
												<p class=".product-popup-modal__text">
													{{ block.settings.size_guide_decription }}
												</p>
												{% if block.settings.size_guide_image != blank %}
													<div class="size_guide_image">
														{{
															block.settings.size_guide_image
															| image_url: width: 1790
															| image_tag:
																loading: 'lazy',
																widths: '553, 895, 1790'
														}}
													</div>
												{% endif %}
												{%- if block.settings.page.content != blank -%}
													{{ block.settings.page.content }}
												{%- endif -%}
											</div>
										</div>
									</modal-dialog>
								{% endif %}
							</div>
						</fieldset>
					{% elsif settings.type_color_swatch == 'custom' 
						and color_trigger == name_option
						or block.settings.picker_type != 'dropdown'
					%}
						{% if color_trigger != name_option %}
							<fieldset class="product-form__controls color">
								<label
									for="Option-{{ section.id }}-{{ forloop.index0 }}"
									class="product-form__group-name"
								>
									{{ option.name }}
								</label>
								<div class="product-form__controls-group">
									<div class="select">
										<select
											name="options[{{ option.name | escape }}]"
											id="Option-{{ section.id }}-{{ forloop.index0 }}"
											class="select__select"
											form="{{ product_form_id }}"
										>
											{% render 'product-variant-options',
												product: product,
												option: option,
												block: block
											%}
										</select>
										{% render 'icon-caret' %}
									</div>
								</div>
							</fieldset>
						{% else %}
							<fieldset
								class="product-form__controls js-radio-colors"
								id="SingleOptionSelector-{{ forloop.index0 }}"
							>
								<legend class="product-form__group-name">
									{{ option.name }}
								</legend>
								<div class="product-form__controls-group">
									{% render 'product-variant-options',
										product: product,
										option: option,
										block: block
									%}
								</div>
							</fieldset>
						{% endif %}
					{% endif %}
				{% endfor %}
				<script type="application/json">
					{{ product.variants | json }}
				</script>
			</variant-selects>
		{% endif %}
	{% endunless %}

	{% comment %}
		<noscript class="product-form__noscript-wrapper-{{ section.id }}">
			<fieldset class="product-form__controls {% if product.has_only_default_variant %} hidden{% endif %}">
				<label for="Variants-{{ section.id }}" class="product-form__group-name">
					{{- 'products.product.product_variants' | t -}}
				</label>
				<div class="product-form__controls-group">
					<div class="select">
						<select
							name="id"
							id="Variants-{{ section.id }}"
							class="select__select"
							form="{{ product_form_id }}"
						>
							{%- for variant in product.variants -%}
								<option
									{% if variant == product.selected_or_first_available_variant %}
										selected="selected"
									{% endif %}
									{% if variant.available == false %}
										disabled
									{% endif %}
									value="{{ variant.id }}"
								>
									{%- liquid
										echo variant.title
										echo variant.price | money | strip_html | prepend: ' - '
										if variant.available == false
											echo 'products.product.sold_out' | t | prepend: ' - '
										endif
										if variant.quantity_rule.increment > 1
											echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
										endif
										if variant.quantity_rule.min > 1
											echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
										endif
										if variant.quantity_rule.max != null
											echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
										endif
										assign cart_quantity = cart | item_count_for_variant: variant.id
										if cart_quantity > 0
											echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
										endif
									-%}
								</option>
							{%- endfor -%}
						</select>
						{% render 'icon-caret' %}
					</div>
				</div>
			</fieldset>
		</noscript>
	{% endcomment %}
</div>
