{{ 'section-about.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

<div class="about">
	<div class="container">
		<div class="about__block{% if section.settings.full_width == false %} no_full{% endif %}">
			<div class="about__left">
				{%- if section.settings.subheading != blank -%}
					<span class="about__subheading subtitle">
						{{ section.settings.subheading }}
					</span>
				{%- endif -%}

				{%- if section.settings.heading != blank
					or section.settings.text != blank
				-%}
					<div class="about__text">
						<h2 class="{{ section.settings.heading_size }}">
							{{ section.settings.heading }}
						</h2>
						<div class="description">{{ section.settings.text }}</div>
					</div>
				{%- endif -%}
			</div>

			<div class="about__right">
				<div class="about_img">
					{%- if section.settings.image != blank
						and section.settings.video == blank
					-%}
						{{
							section.settings.image
							| image_url: width: 1790
							| image_tag: loading: 'lazy', widths: '553, 895, 1790'
						}}
					{%- elsif section.settings.video != blank -%}
						{{
							section.settings.video
							| video_tag:
								image_size: '1100x',
								autoplay: true,
								loop: true,
								controls: false,
								muted: true,
								class: 'data-alt'
						}}
					{%- else -%}
						{{
							'hero-apparel-1'
							| placeholder_svg_tag: 'placeholder-svg placeholder'
						}}
					{%- endif -%}
				</div>
				<div class="about_img">
					{%- if section.settings.image_2 != blank
						and section.settings.video_2 == blank
					-%}
						{{
							section.settings.image_2
							| image_url: width: 1790
							| image_tag: loading: 'lazy', widths: '553, 895, 1790'
						}}
					{%- elsif section.settings.video_2 != blank -%}
						{{
							section.settings.video_2
							| video_tag:
								image_size: '1100x',
								autoplay: true,
								loop: true,
								controls: false,
								muted: true,
								class: 'data-alt'
						}}
					{%- else -%}
						{{
							'hero-apparel-2'
							| placeholder_svg_tag: 'placeholder-svg placeholder'
						}}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.about.name",
	"tag": "section",
	"class": "about-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.slideshow.settings.full_width.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.about.settings.subheading.default",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "t:sections.about.settings.heading.default",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__0.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h3",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "t:sections.about.settings.text",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "video",
			"id": "video",
			"label": "t:sections.video-banner.settings.video.label"
		},
		{
			"type": "image_picker",
			"id": "image_2",
			"label": "t:sections.about.settings.image_2.label"
		},
		{
			"type": "video",
			"id": "video_2",
			"label": "t:sections.about.settings.video_2.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.about.presets.name"
		}
	]
}
{% endschema %}
